:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-green: #bfd834;
	--color-dark-green: #accbbd;
	/* --color-dark-green: #206a5d; */
}

/* header */
header a {
	transition: 300ms !important;
}

/* header a:hover {
	color: var(--color-green) !important;
} */
/* header */

/* hero section */
.hero_section {
	height: 100vh;
	background-image: url('../images/hero-bg.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero_section::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.hero_section h1,
.hero_section p {
	opacity: 1;
	position: relative;
	text-align: center;
}

.hero_section h1 {
	font-size: 3.5rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-thickness: 2px;
}

.hero_section p {
	font-weight: 500;
}
/* hero section */

/* about section */
.about_section h1 {
	font-size: 2rem;
	font-weight: 700;
	/* text-decoration: underline;
	text-underline-offset: 1.5rem;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-dark-green); */
}
/* about section */

/* gallery section */
.gallery_section h1 {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 1.5rem;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-dark-green);
}
.grid-item {
	width: 200px;
}
.grid-item--width2 {
	width: 400px;
}
/* gallery section */

/* map section */
.map_section h1 {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 1.5rem;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-dark-green);
}
/* map section */

/* video section */
.video_section h1 {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 1.5rem;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-dark-green);
}
/* video section */

/* team section */
.team_section h1 {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 1.5rem;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-dark-green);
}

.card-img-top {
	height: 450px;
}
/* team section */

/* mobile responsive */
@media (max-width: 575.98px) {
	/* header */
	header nav {
		background-color: var(--color-dark-green);
	}

	header img {
		width: 6.25rem;
	}
	/* header */

	/* hero section */
	.hero_section {
		height: 80vh;
	}

	.hero_section h1 {
		font-size: 1.5rem;
		text-underline-offset: 0.5rem;
	}

	.hero_section p {
		font-size: 1rem;
	}
	/* hero section */

	/* about section */
	.about_section h1 {
		font-size: 1.5rem;
		/* text-underline-offset: 0.5rem; */
	}
	/* about section */

	/* gallery section */
	.gallery_section h1 {
		font-size: 1.5rem;
		text-underline-offset: 0.5rem;
	}
	/* gallery section */

	/* map section */
	.map_section h1 {
		font-size: 1.5rem;
		text-underline-offset: 0.5rem;
	}
	/* map section */

	/* video section */
	.video_section h1 {
		font-size: 1.5rem;
		text-underline-offset: 0.5rem;
	}
	/* video section */

	/* team section */
	.team_section h1 {
		font-size: 1.5rem;
		text-underline-offset: 0.5rem;
	}
	.card-img-top {
		height: 550px;
	}
	/* team section */
}
